<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>nBe Productions</title>

        <link rel="stylesheet" type="text/css" href="css/parts/errorbox.css">
        <link rel="stylesheet" type="text/css" href="css/main_page.css">
		<link rel="icon" type="image/png" href="images/nbe_favicon.png">
    </head>
    <body>
        <div id="error_dimmer"><div id="error_box"><p id="error_text">Error</p><input type="button" id="error_button" value="OK" onclick="document.getElementById('error_dimmer').style.display = 'none'"></div></div>
        
        <div id="mobile_menu">
            <img src="icons/menu_icon.svg" alt="" id="mobile_menu_icon" onclick="document.getElementById('nav').style.display = 'flex'; document.getElementById('menu_dimmer').style.display = 'flex'">
            <div><h1 id="mobile_nav_title">Info</h1></div>
        </div>

        <div id="menu_dimmer" onclick="this.style.display = 'none'; document.getElementById('nav').style.display = 'none';"></div>
        
        <nav id="nav">
            <div id="log_out_div" onclick="window.open('/logout','_self')">
                <p>LOGGA UT</p>
            </div>

            <p id="user_name"><%= session[:user]%></p>

            <div id="nav_tabs">
                <div id="nav_logo_div">
                    <img src="images/nbe_logo_white.png" alt="nBe Productions Logo">
                </div>
                <div  class="nav_item" onclick="openPage(event, 'area_statistik', 'nav_item', 'area')">
                    <img src="icons/statistic_icon_white.svg" class="nav_picture">
                    <p>Statistik</p>
                </div>
                <div class="nav_item" onclick="openPage(event, 'area_files', 'nav_item', 'area')">
                    <img src="icons/files_icon_white.svg" class="nav_picture">
                    <p>Filer</p>
                </div>
                <div class="nav_item" onclick="openPage(event, 'area_editor', 'nav_item', 'area')">
                    <img src="icons/chatt_icon_white.svg" class="nav_picture">
                    <p>Editor</p>
                </div>
                <div class="nav_item" onclick="openPage(event, 'area_user', 'nav_item', 'area')">
                    <img src="icons/user_icon_white.svg" class="nav_picture">
                    <p>Användar Inst.</p>
                </div>
            </div>
        </nav>
        <div id="nav_content">
            <div id="area_info" class="area">
                <div id="area_content_info" class="area_content">
                    <h2 class="area_content_title">Information</h2>
                    <p>Hej bäste anställd på nBe eller lärare! Här finns alla verktyg som man behöver som anställd / lärare.
                        <br>Här kan du kolla in den senaste statistiken för både youtube-kanalen och hemsidan.
                    <br> Du kan även ändra i den publika hemsidan på 'Editor' sidan. Du har också tillgång till all information och filer under 'Filer' sidan.</p>
                </div>
            </div>

            <%=erb :"main_page_parts/statistik"%>
            <%=erb :"main_page_parts/filer"%>
            <%=erb :"main_page_parts/editor"%>
            <%=erb :"main_page_parts/user"%>
        </div>
    </body>
    <!-- Scripts -->
    <script src="js/ErrorMsg.js"></script>
    <script src="js/main_page.js"></script>
</html>